/* Variables */

$font-header: 'Hind Madurai', sans-serif;
$font-text: 'Merriweather', serif;
$color-one: #0097e6;
$color-two: #33d9b2;
$color-three: #ff5252;
$color-four: #ffffff;
$color-five: #2c2c54;

/* Global */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    /*margin: 0;*/
    font-size: 16px;
    line-height: 1.7;
    font-family: $font-text;
    color: $color-five;
}

a, .page-subtitle, .section-title {
    font-family: 'Hind Madurai', sans-serif;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.section-subtitle {
    font-family: 'Merriweather', serif;
    font-weight: bold;
    color: #878686;
    font-size: 15px;
    margin-top: -70px;
    margin-bottom: 70px;
}

section {
    padding: 96px 0;
}

.section-subtitle {
    text-align: center;
}

.section-title {
    font-size: 48px;
    margin: 0 0 72px 0;
    color: #000000;
    text-align: center;
}

.box-content {
    font-size: 16px;
    flex: 0 0 33.333%;
    padding: 12px;
    position: relative;
}

/* Navigation */

.header {
     background-image: url("https://i.ibb.co/pjwNjCP/header.jpg");
     background-position: center;
     height: 881px;
}

.navigation {
    padding: 12px 0;
}

.navigation ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: right;
    padding-top: 20px;
    /*border: 3px solid green;*/
    
}
  
.navigation li { 
    display: inline-block;
    margin: 0 36px 0 0;
    position: relative;
    
}

.navigation a {
    text-decoration: none;
    color: $color-four;
}

a:hover {
    color: #000000;
}


/* Header*/

.text {
    color: #FED136;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    /*border: 3px solid pink;*/
}

.splash {
    padding: 96px 0;
    color: $color-four;
    min-width: 500px;
    display: flex;
}

.splash-inner {
    margin: auto;
    padding-top: 90px;
    max-width: 70%;
    
}

.button {
    padding-left: 35%;
}
    

.page-title {
    margin: 24 0;
    font-size: 30px;
    font-family: $font-text;
    /*word-spacing: -24px;*/
    font-weight: 300;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 50px;
    
}

.page-subtitle {
    margin: 0;
    font-weight: 700;
    font-size: 80px;
    text-align: center;
    padding-bottom: 30px;
}



.btn {
    display: inline-block;
    width: 200px;
    height: 70px;
    padding: 20px;
    border-radius: 5px;
    font-family: $font-text;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #FED136;
    background-position: 100% 0;
    background-size: 300%;
    border-color: #FED136;
    color: $color-four;;
    margin: 0 auto; 
    
}

.btn:hover {
    color: black;
}

/* Services */
    

.box {
	font-size: 20px;
	font-weight: 300;
}

.box-title {
    margin: 20px 0 12px 0;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    font-family: $font-header;
}

.box-text {
    font-size: 16px;
    font-family: $font-header;
    color: #878686;
}


.box-content {
    text-align: center;
}


.box-number {
    font-size: 55px;
    line-height: 1;
    color: #FED136;
    border: 2px solid #FED136;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 20px;
    margin: 0 auto;
}

/* Our portfolio */

.box-text h2 {
    font-family: 'Hind Madurai', sans-serif;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0px;
}

.box-text p {
    font-family: 'Merriweather', serif;
    font-weight: bold;
    color: #878686;
    font-size: 12px;
}

/* Footer */


.page-footer {
    text-align: center
}

.icons {
    text-align: left;
}

.icons li {
    display: inline-block;
    font-size: 0;
    margin-top: 48px;
    margin-bottom: 48px;
    padding: 2px;
}

.icons i {
    background: #242424;
    color: $color-four;
    font-size: 20px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 10px;
}

.copyright {
    font-family: $font-header;
    font-size: 15px;
    margin-top: 48px;
    margin-bottom: 48px;
    padding-top: 20px;
    text-align: left;
}
